# ENV & Secrets
.env

# Python environment junk
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments (if any)
.venv/
venv/

# OS junk
.DS_Store

# Tools
.python-version
uv.lock

# IDE
.vscode/
.idea/

