services:
  postgres_db:
    image: postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql

  adminer:
    image: adminer
    ports:
      - "8080:8080"

volumes:
  postgres_data:
